{% load static %}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
        initial-scale=1, shrink-to-fit=no">
        <title>Pong, the Rematch</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>


    <body>

        <!-- Section de page reservee au liens de navigations. -->
        <nav class="navbar navbar-expand-md navbar-light bg-light
            mb-4 border">
          
            <div class="container-fluid">
                <!-- Lien vers la page d'accueil en haut a gauche. -->
                <a class="navbar-brand" href="{% url 'pong:index' %}        ">Home</a>

                <!-- Affiche un boutton si ecran trop petit. -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                    
                <!-- liens compris dans le bouton. -->
                <div class="collapse navbar-collapse"       id="navbarNavAltMarkup">
                    <!-- Lien profil. -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pong:profil' %}">Profil</a> 
                        </li>
                    </ul> 
                    <!-- Lien Pong. -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pong:pong' %}
                            ">Pong</a> 
                        </li>
                    </ul> 
                    <!-- si Utilsateur connecté. -->
                    <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <!-- Lien deconnexion. -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'utilisateurs:logout' %}">Logout</a>
                        </li>
  
                    {% else %}
                        <!-- Lien inscription. -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url            'utilisateurs:register' %}">Sign-up</a>
                        </li>
                        <!-- Lien connexion. -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'utilisateurs:login' %}">Login</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            
        </nav>


        <!-- Définit la zone principale de la page. -->
        <main role="main" class="container">
            <div class="pb-2 mb-2 border-bottom">
                {% block page_header %}{% endblock page_header %}
            </div>
            <div>
                {% block content %}{% endblock content %}
            </div>
        </main>
        
    </body>
    
    <script src="{% static 'pong.js' %}"></script>

</html>